<div class="container">
    <div>
        <h3>My Posts</h3>
        <mat-card *ngFor="let post of postsWithAds; let i = index" class="post">
            <mat-card-content *ngIf="i % 6 === 5" class="ad-space">
                <h3>Ad Space</h3>
            </mat-card-content>
            <mat-card-content *ngIf="i % 6 !== 5" class="post-content">
                <h3>{{ post.title }}</h3>
                <p><mat-icon>person_outline</mat-icon> {{ post.author }}</p>
                <a [routerLink]="['/feed', post.id]">Read More..</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>