<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>User List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let user of users">
                {{ user.name }}
                <button (click)="followUser(user.id)" *ngIf="!user.isFollowing">Follow</button>
                <button (click)="unfollowUser(user.id)" *ngIf="user.isFollowing">Unfollow</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>