<div class="container">
  <div>
    <h2>Following</h2>
    <mat-accordion class="headers-align">
      <mat-expansion-panel hideToggle *ngFor="let userFollowed of usersFollowingPosts">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ userFollowed.user.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ userFollowed.user.email }}
            <mat-icon>keyboard_arrow_down</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let post of userFollowed.posts" class="post">
          <mat-card-content>
            <h3>{{ post.title }}</h3>
            <a [routerLink]="['/feed', post.id]">Read More..</a>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>