<div class="container">
    <div *ngIf="!paywallVisible">
        <mat-card *ngFor="let post of posts" class="post" [class.viewed]="isPostViewed(post.id)">
            <mat-card-content>
                <h3>{{ post.title }}</h3>
                <p><mat-icon>person_outline</mat-icon> {{ post.author }}</p>
                <a [routerLink]="['/feed', post.id]" (click)="onPostClick(post.id)">Read More..</a>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card *ngIf="paywallVisible">
        <mat-card-header>
            <mat-card-title>Oops</mat-card-title>
            <!-- {{ userService.isFollowing(user.id) ? 'Unfollow' : 'Follow' }} -->
        </mat-card-header>
        <mat-card-content>
            <p>You have exceeded your free limit for today. Subscribe to continue viewing.</p>
            <app-login *ngIf="!authService.isAuthenticated()"></app-login>
            <app-payment *ngIf="authService.isAuthenticated() && !authService.getMemberStatus()"></app-payment>
        </mat-card-content>
    </mat-card>
</div>