.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
  }

  mat-card {
    // max-width: 400px;
    margin: 20px;
    padding: 20px;
  }

  .post {
    margin-bottom: 10px;
  }

  .viewed {
    background-color: #f0f8ff; /* Light blue background for viewed posts */
  }

  .ad-space, .post-content {
    padding: 16px;
    margin-bottom: 16px;
  }

  .ad-space {
    background-color: #e0e0e0;
    text-align: center;
  }